[flake8]
select = ANN,B,B9,BLK,D,DAR,E,F,I,S,W
ignore = E203,E501,W503,ANN101,ANN102,ANN204,S101
max-line-length = 88
max-complexity = 10
application-import-names = euporie,tests
import-order-style = google
docstring-convention = google
per-file-ignores = tests/*:S101
